# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Node
node_modules/
npm-debug.log

# Build artifacts
dist/

# Local Storage (prevent copying local test data)
storage/scans/*
!storage/scans/.gitkeep

# VS Code
.vscode/
